body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: rgb(12, 43, 144);
  text-align: center;
}

td {
  color: rgb(12, 43, 144);
}

.table {
  margin-top: 40px;
}

.btn {
  width: 33%;
  align-self: center;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
}
